---
extends: default

rules:
  line-length:
    max: 160
    level: warning
  truthy:
    level: warning
  document-start: disable
  braces:
    level: error
  brackets:
    level: error
  comments:
    min-spaces-from-content: 1
