---
extends: default

rules:
  line-length:
    max: 160 # Aumentiamo un po' la tolleranza
    level: warning
  truthy:
    level: warning # Trasforma l'errore in warning
  document-start: disable # Se non vuoi mettere --- ovunque
  braces:
    level: error
  brackets:
    level: error