[defaults]
# Punta al file di inventario nella cartella corrente
inventory = hosts.ini
host_key_checking = False
deprecation_warnings = False

# Silenziamo i warning di Python per FreeBSD
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = doas
become_user = root
